[% c.request.param("q") | html %]

<h3>primary</h3>
[% FOR scritto IN primary.all %]
  [% PROCESS lib/scritto_abbr.tt %]
[% END %]

<h3>secondary</h3>
[% FOR scritto IN secondary.all %]
  [% PROCESS lib/scritto_abbr.tt %]
[% END %]
