<p>
There is no resource containing <b>[% scritto.scrit | html %]</b>. Would you like to <a href="[% c.uri_for_action("s/create", c.request.param("q")) %]">create one</a>?
</p>

<p>
Alternatively, <a href="[% c.uri_for_action("s/create") | html %]">create an untitled resource</a>.
</p>
