<html lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>[% title || c.name %]</title>
  <link rel="stylesheet" type="text/css" href="[% c.uri_for("/css/universal.css") %]" />
[%-# feed, prev, next, opensearch, etc %]
  <link rel="shortcut icon" href="/favicon.ico" />
[%-IF c.config.use_google_js %]
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
[% ELSE %]
<script type="text/javascript" src="[% c.uri_for("/3rd/jquery/jquery.min.js") %]"></script>
<script type="text/javascript" src="[% c.uri_for("/3rd/jquery/jquery-ui.min.js") %]"></script>
[%-END %]
<link href="[% c.uri_for("/3rd/jquery/css/overcast/jquery-ui.css") %]" rel="stylesheet" type="text/css">
<style type="text/css">
img {
 border:none;
}
html,body {
 margin: 0 auto;
 width: 100%;
 background-color:white;
 background-color:#d3d4d9;
 color:#001;
 font-family:"helvetica neue", helvetica, sans-serif;
 font-size:.8em;
 font-family:"chaparral pro","droid serif",serif;
 font-size:.9em;
 line-height:1.125em; /* 16 font-size:0.75em; */
}

h1,h2,h3,h4,h5,h6,header {
 font-family:"HelveticaNeue-UltraLight","helvetica neue", helvetica, sans-serif;
 font-weight:normal;
 font-style:ultralight;
}
table * {

}

header {
 background: #ccc;
 padding: 1ex;
}

nav {
 float: left;
 width: 100%;
 background: #334;
 font-family:"gill sans";
 font-weight:normal;
}

nav ul
{
margin: 0;
padding: 0;
}

nav ul li form,
nav ul li
{
list-style-type: none;
display: inline;
}

nav #basic_search input,
nav li a {
 display: block;
 float: left;
 padding: 5px 10px;
 color: #fff;
 text-decoration: none;
 border-right: 1px solid #fff;
}

nav li a:hover { background: #383; }

nav #basic_search input,
nav #basic_search input[type="text"] {
 color:#999;
 display:inline;
 font-size:10px;
 border:none;
 padding: 6px 4px;
}

nav #basic_search input[type="submit"] {
color: #fff;
}

nav #basic_search legend { display:none }
#basic_search, #basic_search * {
 border:0;
 padding:0;
 margin:0;
 display:inline;
}

nav #basic_search input[type="text"] {

}

#content{
float: left;
width: 100%;
 background-color:#f8faf9;
}

#content .body {
clear: left;
float: left;
width: 90%;
padding: 1em 0 1.7em 0;
margin: 0 0 0 5%;
display: inline;

}
article > div {
 margin-right:35%;
}
aside
{
 float: right;
 width: 30%;
 padding:  0;
 margin: 0 0 0 0;
 display:block;
 overflow:display;
 height:0;
}

footer {
 border-top:1px solid #445;
 clear:both;
 text-align:center;
 margin:2em 0;
 padding:.5em 0;
/*
  background:#fff url([% c.uri_for("/img/layout/ftl-footer-fade.jpg") %]) repeat-x scroll left top;
*/
 min-height:151px;
 }
.border {
 border:1px solid #99a;
 border:1px solid #aab;
 border-radius:1ex 0;
 background-color:rgba(253,253,255,0.9);
 padding: 2px .9ex 3px 1ex;
 box-shadow:2px 3px 3px rgba(0,0,33,0.53);
 -webkit-box-shadow:2px 3px 3px rgba(0,0,33,0.53);
 -moz-box-shadow:2px 3px 3px    rgba(0,0,33,0.53);

 box-shadow:1px 1px 1px rgba(0,0,33,0.83);
 -webkit-box-shadow:1px 1px 1px rgba(0,0,33,0.83);
 -moz-box-shadow:1px 1px 1px rgba(0,0,33,0.83);
}
.alert {
    color:#900;
    font-family:"helvetica neue", helvetica, sans-serif;
}
textarea {
 width:100%;
}

.typeBook > div,
.typeChapter > div,
.typePoem > div {
 white-space:pre-wrap;
 font-size:20px;
 line-height:125%;
 margin-bottom:10px;
}
.typeBook > div {
 font-size:30px;
}
.typeStanza > div {
 white-space:pre-wrap;
 font-size:12px;
 line-height:125%;
}
.typeProse > div {
 font-size:13px;
 line-height:125%;
 white-space:pre-wrap;
}

</style>
<script type="text/javascript">//<![CDATA[
jQuery(function($) {
});
//]]> </script>
</head>
<body>

 <header>
  <a href="[% c.uri_for("/") %]">[% c.config.name %]</a>
  <h1>[% title || "Untitled page: " _ c.config.name %]</h1>
 </header>
 <nav>
<ul>
 <li><a href="[% c.uri_for("/s") %]">/s</a></li>
 <li><a href="[% c.uri_for("/meta/db") %]">db schema</a></li>
 <li>[% PROCESS search/basic_form.tt %]</li>
 <li><a href="[% c.uri_for("/todo.txt") %]">todo</a></li>
 <li><a href="[% c.uri_for("/type") %]">type</a></li>
 <li><a href="[% c.uri_for("/s/create") %]">create</a></li>
</ul>

 </nav>

<div id="content">

 <div class="body">
[%-content-%]
 </div>

 <aside>
[%# c.controller("Scritto").edit(c) || "noes" %]
 </aside>

</div>

 <footer>
  <small>
FTL is free open source software released under
the <a itemprop="license"
       href="http://www.perlfoundation.org/artistic_license_2_0">Artistic
    License 2.0</a> &middot; <a href="[% c.repository %]">FTL on Github</a>
  </small>
 </footer>
 </body>
</html>
