<html lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>[% title || c.name %]</title>
  <link rel="stylesheet" type="text/css" href="[% c.uri_for("/css/universal.css") %]" />
[%-# feed, prev, next, opensearch, etc %]
  <link rel="shortcut icon" href="/favicon.ico" />
[%-IF c.config.use_google_js %]
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
[% ELSE %]
<script type="text/javascript" src="[% c.uri_for("/3rd/jquery/jquery.min.js") %]"></script>
<script type="text/javascript" src="[% c.uri_for("/3rd/jquery/jquery-ui.min.js") %]"></script>
[%-END %]
<script type="text/javascript" src="[% c.uri_for("/3rd/jquery/jquery.expander.js") %]"></script>
<link href="[% c.uri_for("/3rd/jquery/css/overcast/jquery-ui.css") %]" rel="stylesheet" type="text/css">
<style type="text/css">
img {
 border:none;
}
html,body {
 margin: 0 auto;
 width: 100%;
 background-color:white;
 background-color:#d3d4d9;
 color:#001;
 font-family:"helvetica neue", helvetica, sans-serif;
 font-size:.8em;
 font-family:"chaparral pro","droid serif",serif;
 font-size:.9em;
 line-height:1.125em; /* 16 font-size:0.75em; */
}

h1,h2,h3,h4,h5,h6,header {
 font-family:"HelveticaNeue-UltraLight","helvetica neue", helvetica, sans-serif;
 font-weight:normal;
 font-style:ultralight;
}
table * {

}

header {
 background: #ccc;
 padding: 1ex;
}

nav {
 float: left;
 width: 100%;
 background: #334;
 font-family:"gill sans",sans-serif;
 font-weight:normal;
}

nav ul
{
margin: 0;
padding: 0;
}

nav ul li form,
nav ul li
{
list-style-type: none;
display: inline;
}

nav #basic_search input,
nav li a {
 display: block;
 float: left;
 padding: 5px 10px;
 color: #fff;
 text-decoration: none;
 border-right: 1px solid #fff;
}

nav li a:hover { background: #383; }

nav #basic_search input,
nav #basic_search input[type="text"] {
 color:#999;
 display:inline;
 font-size:10px;
 border:none;
 padding: 6px 4px;
}

nav #basic_search input[type="submit"] {
color: #fff;
}

nav #basic_search legend { display:none }
#basic_search, #basic_search * {
 border:0;
 padding:0;
 margin:0;
 display:inline;
}

nav #basic_search input[type="text"] {

}

#content{
float: left;
width: 100%;
 background-color:#f8faf9;
}

#content .body {
clear: left;
float: left;
width: 90%;
padding: 1em 0 1.7em 0;
margin: 0 0 0 5%;
display: inline;

}
article {
}
article > div {
 margin-right:35%;
}
aside
{
 clear:right;
 float: right;
 width: 30%;
 padding:  0;
 margin: 0 0 0 0;
 display:block;
 overflow:display;
}

aside, article > div {
 border:1px solid #fff;
 border-right:none;
 border-left:none;
}

footer {
 border-top:1px solid #445;
 clear:both;
 text-align:center;
 margin:2em 0;
 padding:.5em 0;
/*
  background:#fff url([% c.uri_for("/img/layout/ftl-footer-fade.jpg") %]) repeat-x scroll left top;
*/
 min-height:151px;
 }
.border {
 border:1px solid #99a;
 border:1px solid #aab;
 border-radius:1ex 0;
 background-color:rgba(253,253,255,0.9);
 padding: 2px .9ex 3px 1ex;
 box-shadow:2px 3px 3px rgba(0,0,33,0.53);
 -webkit-box-shadow:2px 3px 3px rgba(0,0,33,0.53);
 -moz-box-shadow:2px 3px 3px    rgba(0,0,33,0.53);

 box-shadow:1px 1px 1px rgba(0,0,33,0.83);
 -webkit-box-shadow:1px 1px 1px rgba(0,0,33,0.83);
 -moz-box-shadow:1px 1px 1px rgba(0,0,33,0.83);
}
.alert {
    color:#900;
    font-family:"helvetica neue", helvetica, sans-serif;
}
textarea {
 width:100%;
}

.typeBook > div,
.typeChapter > div,
.typePoem > div {
 white-space:pre-wrap;
 font-size:20px;
 line-height:125%;
 margin-bottom:10px;
}
.typeBook > div {
 font-size:30px;
}
.typeStanza > div {
 white-space:pre-wrap;
 font-size:12px;
 line-height:125%;
}
.typeProse > div {
 font-size:13px;
 line-height:125%;
 white-space:pre-wrap;
}
.highlight {
 background-color:#ffa;
}
input.type {
 border:none;
 display:inline;
 background:inherit!important;
 border-left:1px dotted gray;
 padding-left:1ex
}
table {
 border:0;
 font-family:"gill sans",sans-serif;
}
td,th {
 padding:0 3px;
 margin:2px;
}
</style>
<script type="text/javascript">//<![CDATA[
jQuery(function($) {
});
//]]> </script>
</head>
<body>

 <header>
  <a href="[% c.uri_for("/") %]">[% c.config.name %]</a>
  <h1>[% title || "Untitled page: " _ c.config.name %]</h1>
 </header>
 <nav>
<ul>
 <li><a href="[% c.uri_for("/s") %]">/s</a></li>
 <li><a href="[% c.uri_for("/todo.txt") %]">todo</a></li>
 <li><a href="[% c.uri_for("/type") %]">type</a></li>
 <li><a href="[% c.uri_for("/meta") %]">meta</a></li>
 <li><a href="[% c.uri_for("/s/create") %]">create</a></li>
 <li>[% PROCESS search/basic_form.tt %]</li>
</ul>
 </nav>

<div id="content">

 <div class="body">
[%-content-%]
 </div>

 <aside>
[%# c.controller("Scritto").edit(c) || "noes" %]
 </aside>

</div>

 <footer>
  <small>
FTL is free open source software released under
the <a itemprop="license"
       href="http://www.perlfoundation.org/artistic_license_2_0">Artistic
    License 2.0</a> &middot; <a href="[% c.repository %]">FTL on Github</a>
  </small>
 </footer>

<script type="text/javascript">//<![CDATA[
/* Rule: a.delete with a class containing "TABLE.#.ID"...
   which will be used to find corresponding id = TABLE.# in the page.
*/
jQuery(function($){
  $("a.delete").one("click",function(){
     var $this = $(this);
     var ident = $this.attr("class").match(/\b(\w+?)\.(\d+)\.id\b/);
     var path_part = ident[ident.length-2];
     var id = ident[ident.length-1];
     var $domTarget = $("."+path_part+"\\."+id+"\\.id");//.filter(".container");
     $.ajax({
        url:"[% c.uri_for("/") %]" + [ path_part, id, "rest" ].join("/")
        ,type:"DELETE"
        ,error:function(xhr){
           var msg = [ xhr.statusText, xhr.responseText ].join(" · ");
           $("<div/>").hide().html(msg).addClass("alert")
                      .css({margin:"1ex"})
                      .insertAfter($this)
                      .fadeIn().delay(9000)
                      .fadeOut("slow",function(){$(this).remove()});
        }
        ,success:function(){
           $domTarget.fadeOut(function(){$(this).remove()})
        }
     });
     return false;
  });

  $("a.newChild").click(function(){
     var $this = $(this);
     var ident = $this.attr("class").match(/\b(\w+?)\.(\d+)\.id\b/);
     var path_part = ident[ident.length-2];
     var id = ident[ident.length-1];
     var $domTarget = $("."+path_part+"\\."+id+"\\.id");//.filter(".container");
     $.ajax({
        url:"[% c.uri_for("/s/create") %]"
        ,type:"POST"
        ,data:{scrit:"[...]",parent:id}
        ,error:function(xhr){
           var msg = [ xhr.statusText, xhr.responseText ].join(" · ");
           $("<div/>").hide().html(msg).addClass("alert")
                      .css({margin:"1ex"})
                      .insertAfter($this)
                      .fadeIn().delay(9000)
                      .fadeOut("slow",function(){$(this).remove()});
        }
        ,success:function(){
            window.location.reload(true);
        }
     });
     return false;
  });

/*
  $("article").draggable({
      revert:true
      ,containment:"parent"
      ,axis:"y"
  });
*/

// Add the /uri etc.
var ajaxErr = function(xhr){
  var msg = [ xhr.statusText, xhr.responseText ].join(" · ");
  $("<div/>").hide().html(msg).addClass("alert")
             .css({margin:"1ex"})
             .prependTo("body")
             .fadeIn().delay(9000)//do length/size based time
             .fadeOut("slow",function(){$(this).remove()});
};

  if ( $("article article").size() > 1 ) {
     $("article > div").expander({
        userCollapseText:"<sub>[less]</sub>"
        ,expandText:"<sub>[more]</sub>"
     });
  }

$("article.root").sortable({
  update:function(evt,ui){
     var position = ui.item.prevAll("article").length + 1;
     var id = ui.item.context.id.split(".")[1];
     $.ajax({
        url:["[% c.uri_for("/s") %]",id,"position"].join("/")
        ,data:{position:position}
        ,type:"POST"
        ,error:function(xhr){ajaxErr(xhr)}
        ,success:function(){

        }

     });
  }   
//  ,containment:"parent"
  ,axis:"y"
  ,items: "article"
  ,cursor:"move"
});



  $(".editable").each(function(){
     var $this = $(this);
     var ident = $this.attr("class").match(/\b(\w+?)\.(\d+)\.id\b/);
     if ( ! ident ) return;
     var path_part = ident[ident.length-2];
     var id = ident[ident.length-1];
     var uri = "[% c.uri_for("/") %]" + [ path_part, id, "rest" ].join("/");
     $(this).editable(uri,{
        indicator  : "<img src='[% c.uri_for("/3rd/img/indicator.gif") %]'>"
        ,type: "POST"
//        ,dataType: "json"
//                ,data: {value:value}
        ,type      : "autogrow"
        ,submit    : "Update"
        ,cancel    : "Cancel"
        ,tooltip   : "Click to edit"
        ,onblur    : "ignore"
        ,event     : "dblclick"
        ,autogrow  : {
           lineHeight : 16,
           minHeight  : 32
        }
     });
  });

  $("body").effect("pulsate",{times:1});

});
//]]> </script>
 </body>
</html>
